
	<script>
	$(function(){
		CC.load_background("discover-background-gray-to-white.jpg");
	  
	  	var ShowDetailPanel = function(){
	        var buttons = $('.shop-item-wrapper').on('click', function(e){
	          e.preventDefault();
	          e.stopPropagation();
	          
	          var item = $(this);
	          var target = $(this).data('target');
	          var items_row = $(this).parent().parent();
	          var isShowed = false;
	          
	          items_row.children().find('.shop-item-wrapper').each(function(){
	          	if( $(this).is(item) == false ){
	          		$(this).removeClass('extended');
	          	}
	          });
	          
	          item.toggleClass('extended');
	          
	          if($('.' + target).is(':visible') == true){
	          	$('.' + target).animate({
		            height: 'toggle'
		          },1000, 'easeInOutQuint');
		          
		          if( items_row.find('.quarter-column .shop-item-wrapper a div').is(':visible') == false ){
		          	items_row.find('.quarter-column .shop-item-wrapper a div').animate({
			            height: 'toggle'
			          },1000, 'easeInOutQuint');
		          }
		          return;
	          }
	          
	 
	          items_row.find('.item-description').each( function(){
	          	if($(this).is(':visible') == true){
	          		isShowed = true;
	          		$(this).animate({
			            height: 'toggle'
			          },1000, 'easeInOutQuint', 
			          function(){
			          	$('.' + target).animate({
				            height: 'toggle'
				          },1000, 'easeInOutQuint');
				          
			          });
			          
		          }
	          } );
	          
	          if(isShowed == false){
	          	$('.' + target).animate({
		            height: 'toggle'
		          },1000, 'easeInOutQuint');
		          
		          if( items_row.find('.quarter-column .shop-item-wrapper a div').is(':visible') == true ){
		          	items_row.find('.quarter-column .shop-item-wrapper a div').animate({
			            height: 'toggle'
			          },1000, 'easeInOutQuint');
		          }
		          
	          }
	          
	          
	          items_row.find('.item-description').each(function(){
	          	if( $(this).is(':visible') ){
	          		isShowed = true;
	          	}
	          });
	          
	          items_row.find('img').trigger("appear");
	          
	
	        });
	        
	        // close the description view
	        $('.item-description .close-icon').on('click', function(e){
	        	e.preventDefault();
	          e.stopPropagation();
	          
	        	$(this).parent().animate({
	            height: 'toggle'
	          },1000, 'easeInOutQuint');
	          
	          //$(this).parent().parent().children().find('.extended').toggleClass('extended');
	          items_row = $(this).parent().parent();
	          
	          if( items_row.find('.quarter-column .shop-item-wrapper a div').is(':visible') == false ){
	          	items_row.find('.quarter-column .shop-item-wrapper a div').animate({
		            height: 'toggle'
		          },1000, 'easeInOutQuint');
	          }
	        });
	        
	        // thumbnail view
	        $('.item-thumb-wrapper').on('click', function(e){
	        	var image_path = $(this).find('img').data('main');
	        	$(this).parent().prev().find('img').attr('src', image_path);
	        })
	      }();
	      
		$("img").lazyload();
	});
	    
	</script>
 
	<h5>PRODUCTS(<%=@result[:products_count] %>)</h5>
	<hr></hr>
	<div id="flexible-grid" class="container_24 clearfix">
	
		<div class="items-wrapper">
		<%
		if @result[:products]
			i = 0
			row_num = 1
			item_html = ''
			desc_html = ''
			thumb_html = ''
			main_image_path = ''
			@result[:products].each do |p|
				i = i+1
				
				images = p.images[0..-1]  || []
				main_image_path = ''
				images.reverse_each do |img|
			 		html = ''
		          	html += '		<div class="item-thumb-wrapper">'
		    		html += '			<img class="lazy" src="/assets/shop/items/item1.jpg" data-original="' + img.thumb_path + '" alt="' + img.id.to_s + '" data-main="' + img.image_path + '">'
		    		html += '		</div>'
		    		thumb_html = html + thumb_html
		    		main_image_path = img.image_path
	      		end
	      
		  item_html += '<div class="quarter-column condenseds">'
	      item_html += '	<div class="shop-item-wrapper" data-target="description' + p.id.to_s + '">'
	      item_html += '		<div class="triangle"></div>'
	      item_html += '   	<a href="#">'
	      if row_num < 3
	      	item_html += '	      <img class="lazy" alt="" src="' + images.first.image_path + '">'
	      else
	      	item_html += '	      <img class="lazy" src="/assets/shop/items/item1.jpg" alt="" data-original="' + images.first.image_path + '">'
	      end
	      
	      item_html += '				<div>'			
	      item_html += '		      <h5>' + p.brand.name.upcase + '</h5>'
	      item_html += '		      <h4>' + p.name.upcase + '</h4>'
	      item_html += '		      <h3>US$ ' + p.price.to_s + '</h3>'
	      item_html += '				</div>'	
	      item_html += '	    </a>'
	      item_html += '	  </div>' 
	      item_html += '</div>'
	      
	      
	      desc_html += '<div class="item-description description' + p.id.to_s + '">'
	      desc_html += '	<div class="close-icon">'
	      desc_html += '		<a href="#"><img src="/assets/icons/close.png"></a>'
	      desc_html += '	</div>'
		    desc_html += '	<div class="image-wrapper">'
		    desc_html += '		<img class="lazy" src="/assets/shop/items/item1.jpg" alt="" data-original="' + images.first.image_path + '">'
		    desc_html += '	</div>'
		    
		    desc_html += '	<div class="thumbs-wrapper">'
		    
		   	desc_html += thumb_html
		    thumb_html = ''
		 
		    desc_html += '	</div>'
		    desc_html += '	<div class="description-wrapper">'
		    desc_html += '		<h3>' + p.brand.name + '</h3>'
		    desc_html += '		<h4>' + p.name + '</h4>'
		    desc_html += '		<p>' + p.description + '</p>'
		    desc_html += '		<div class="price">US$' + p.price.to_s + '</div>'
		    		
		    desc_html += '		<a href= "http://us.levi.com/product/index.jsp?productId=' + p.prod_id.to_s + '" class="purchase-button" target="_blank" onclick="javascript:pageview(\'' + p.brand.id.to_s + '\', \'http://us.levi.com/product/index.jsp?productId=' + p.prod_id.to_s + '\');">PURCHASE from levi.com</a>'
		    desc_html += '		<div class="other-buttons">'
		    desc_html += '			<a href="javascript:add_wishlist(\'' + p.id.to_s + '\');">ADD TO WISH LIST</a>'
		    desc_html += '			<a href="#" class="last">SHARE THIS ITEM</a>'
		    desc_html += '		</div>'
		    		
		    desc_html += '	</div>'
	    	
	      desc_html += ' </div>'
	      
	      if i == 3
	      	row_num += 1
					i = 0
		%>
					<div class="items-row clearfix">
						<%= raw item_html %>
						<%= raw desc_html %>
					</div>	
		<%
					item_html = ''
					desc_html = ''			
				end
			end
			
			if i != 3
		%>
			<%= raw item_html %>
			<%= raw desc_html %>
		<%
			end
		%>
		<%
		end
		%>
		</div>
	</div>



