<% content_for :after_scripts do %>
  
  <style>
  
  </style>
  <script>
    $(function(){
      CC.load_background("discover-background-gray-to-white.jpg");
      
      //$("img.lazy").lazyload();
      
      // custom scollbar for filters in the left panel
      if (!$.browser.webkit) {
      	$('.section .root').jScrollPane();
      }
      
      $('.section .root').hide();
      
      $('.quick-filters .root').show();
      $('.product-type .root').show();
      $('.collections .root').show();
      

      //$('body').addClass('shop');

      $('#shop-header').fadeTo(0,0);

      window.onload = function(){
        $('#shop-header').fadeTo(1000,1);
      }

      var shopSlider = $('#shop-main-slider');
	
      $(window).resize(function(){

        var pos = (($(window).width()*.5) - (shopSlider.width()*.5))

        if(window.sliderIdx == 0){pos += 967}
        if(window.sliderIdx == 1){}
        if(window.sliderIdx == 2){pos -= 963}

        shopSlider.css(
          'margin-left', pos
        );
      });
    

      $(window).resize();
      
	<% if request.fullpath == '/' %>
      $(window).scroll(function () { 

        if(!snapped){
          
          if($(window).scrollTop() > 510) {
            
            snapped = true;
            
            $('#shop-header').hide(100);
            $("html, body").animate({scrollTop : 0}, 1500).removeClass('shop');
            
            $('#main-menu').addClass('fixed');
            $('#main-content').addClass('fixed');
          }
        }

      });
    <% end %>

      var ShopSlideshow = function(){
        
        var buttons = $('#shop-main-slider-wrapper li a');
        var slider = $('#shop-main-slider');
        var idx = 0;
        var locked = false;
          
        buttons.on('click', function(e){

          e.stopPropagation();
          e.preventDefault();

          if(!locked){

            locked = true;

            window.sliderIdx = idx = buttons.index($(this));

            buttons.removeClass('selected').eq(idx).addClass('selected');

            var center = ($(window).width()*.5) - (slider.width()*.5)

            if(idx == 0) {
              center += 967
            }
            if(idx == 1) {
              
            } 
            if(idx == 2) {
              center -= 963
            }

            slider.animate({
              marginLeft : center
            }, 1000, 'easeInOutExpo', function(){
              locked = false;
            });  
          }

        })

        buttons.eq(1).click();

      }();
      
      var ToggleFilter = function(){
      	var section_titles = $('.section .title a').on('click', function(e){
      		e.preventDefault();
          e.stopPropagation();
          
          $(this).toggleClass('extended');
          $(this).parent().next().animate({
	            height: 'toggle'
	          },1000, 'easeInOutQuint');
      	});
      }();

      var ToggleGrid = function(){
        var button = $('#fiter-toggle');
        var items = $('.quarter-column');
        var items_wrapper = $('.items-wrapper');
        var items_description = $('.item-description');

        button.on('click', function(){
          items.toggleClass('condensed');
          items_wrapper.toggleClass('condensed');
          items_description.toggleClass('condensed');
        });
        
        $('.close-filter a').on('click', function(e){
					
					e.preventDefault();
          e.stopPropagation();
          
	        items.toggleClass('condensed');
	        items_wrapper.toggleClass('condensed');
	        items_description.toggleClass('condensed');
	        
	      });


      }();


      var ShowDetailPanel = function(){
        var buttons = $('.shop-item-wrapper').on('click', function(e){
          e.preventDefault();
          e.stopPropagation();
          
          var item = $(this);
          var target = $(this).data('target');
          var items_row = $(this).parent().parent();
          var isShowed = false;
          
          items_row.children().find('.shop-item-wrapper').each(function(){
          	if( $(this).is(item) == false ){
          		$(this).removeClass('extended');
          	}
          });
          
          item.toggleClass('extended');
          
          if($('.' + target).is(':visible') == true){
          	$('.' + target).animate({
	            height: 'toggle'
	          },1000, 'easeInOutQuint');
	          
	          if( items_row.find('.quarter-column .shop-item-wrapper a div').is(':visible') == false ){
	          	items_row.find('.quarter-column .shop-item-wrapper a div').animate({
		            height: 'toggle'
		          },1000, 'easeInOutQuint');
	          }
	          return;
          }
          
 
          items_row.find('.item-description').each( function(){
          	if($(this).is(':visible') == true){
          		isShowed = true;
          		$(this).animate({
		            height: 'toggle'
		          },1000, 'easeInOutQuint', 
		          function(){
		          	$('.' + target).animate({
			            height: 'toggle'
			          },1000, 'easeInOutQuint');
			          
		          });
		          
	          }
          } );
          
          if(isShowed == false){
          	$('.' + target).animate({
	            height: 'toggle'
	          },1000, 'easeInOutQuint');
	          
	          if( items_row.find('.quarter-column .shop-item-wrapper a div').is(':visible') == true ){
	          	items_row.find('.quarter-column .shop-item-wrapper a div').animate({
		            height: 'toggle'
		          },1000, 'easeInOutQuint');
	          }
	          
          }
          
          
          items_row.find('.item-description').each(function(){
          	if( $(this).is(':visible') ){
          		isShowed = true;
          	}
          });
          
          items_row.find('img').trigger("appear");
          

        });
        
        // close the description view
        $('.item-description .close-icon').on('click', function(e){
        	e.preventDefault();
          e.stopPropagation();
          
        	$(this).parent().animate({
            height: 'toggle'
          },1000, 'easeInOutQuint');
          
          //$(this).parent().parent().children().find('.extended').toggleClass('extended');
          items_row = $(this).parent().parent();
          
          if( items_row.find('.quarter-column .shop-item-wrapper a div').is(':visible') == false ){
          	items_row.find('.quarter-column .shop-item-wrapper a div').animate({
	            height: 'toggle'
	          },1000, 'easeInOutQuint');
          }
        });
        
        // thumbnail view
        $('.item-thumb-wrapper').on('click', function(e){
        	var image_path = $(this).find('img').data('main');
        	$(this).parent().prev().find('img').attr('src', image_path);
        })
      }();
      


    });
    
    function add_wishlist(product_id){
      $.ajax({
        url: "/user/add_wishlist",
    	type: "POST",
    	data: {'product_id':product_id},
    	cache: false,
    	success: function(data){
          console.log(data)
          alert(data.message);
    	},
    	error: function(XMLHttpRequest, textStatus, errorThrown){
          console.log(XMLHttpRequest);
        }
      });
    }
    
    function pageview(brand_id, page_url){
      
      $.ajax({
        url: "/user/visit_page",
    	type: "POST",
    	data: {'brand_id':brand_id, 'page_url':page_url },
    	cache: false,
    	success: function(data){
          console.log(data)
          if(data.status == 'success'){
            //window.open(page_url);
          }
    	},
    	error: function(XMLHttpRequest, textStatus, errorThrown){
          console.log(XMLHttpRequest);
        }
      });
      
      return true
    }
  </script>
  
  <script src="/assets/lazyload.js?v=1.8.4" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
      $(function() {
          $("img").lazyload();
      });
  </script>

<% end %>



<% content_for :shop_header do %>

	<% if request.fullpath == '/' %>  
	  <div id="shop-header">
	    <div class="container_24">
	    
	      <a href="/" class="logo">
	        <img src="/assets/cc-logo.png" alt="">
	      </a>
	
	      <h1 class="huge">
	        Making the world<br>
	        a better place
	      </h1>
	
	      <a href="/discover" class="discover-now">Discover now<span>&nbsp;</span></a>
	
	      <div id="brands-ticker">
	        <img src="/assets/shop/brands-ticker.png" alt="Our Brands">
	      </div>
	
	    </div>
	  </div>
	<% end %>

<% end %>



<div class="grid_24 alpha omega page-navigation">
  <ul>
    <li><a href="/shop" class="<%='selected' if @genre=='all' %>">latest</a><span>&nbsp;</span></li>
    <li><a href="/shop/women" class="<%='selected' if @genre=='women' %>">women</a><span>&nbsp;</span></li>
    <li><a href="/shop/men" class="<%='selected' if @genre=='men' %>">men</a><span>&nbsp;</span></li>
    <li><a href="#">editorial</a><span>&nbsp;</span></li>
    <li><a href="/shop/brands">brands</a></li>
  </ul>
</div>



<% content_for :shop_main_slider do %>

  <div id="shop-slider">
    
    <div id="shop-main-slider">

      <img src="/assets/shop/splash/splash2.jpg" alt="">  
      <img src="/assets/shop/splash/splash1.jpg" alt="">  
      <img src="/assets/shop/splash/splash3.jpg" alt="">  

    </div>

    
    <div class="container_24">
      <div id="shop-main-slider-wrapper">
        <ul>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>  
    </div>

  </div>
  <!-- shop-slider end -->
  

  <div id="flexible-grid" class="container_24 clearfix">

    <div id="fiter-toggle">
      <!--  toggles filter visible/hidden -->
    </div>
    
    <!-- filter start -->
    <div class="quarter-column filter">
    	<!-- latest products wrapper start -->
      <div class="latest-products-wrapper">
      	<h2>LATEST PRODUCTS</h2>
      	<div class="product-count">207 ITEMS</div>
      	<ul class="recent-categories">
      		<li><a href="#">ALL</a></li>
      		<li><a href="#">JEANS</a></li>
      		<li><a href="#">SUMMER</a></li>
      	</ul>
      </div>
      <!-- latest products wrapper end -->
      
      <!-- filter hierarchy wrapper start -->
      <div class="hierarchy-wrapper">
      	<div class="refine-wrapper">
      		<div class="close-filter">
      			<a href="#"><img src="/assets/icons/filter-close.png"></a>
      		</div>
      		<div class="refine">REFINE YOUR SEARCH</div>
      		
      	</div>
      	
      	<!-- quick-filter section start -->
      	<div class="quick-filters section">
      		
      		<div class="title">
      			<a href="#">QUICK FILTERS</a>
      		</div>
      		
      		<ul class="dropdown-menu root">
      			<li class="dropdown-submenu">
      				<a href="#"><b>GENRE</b></a>
      				<ul class="dropdown-menu">
      					<li><a href="/shop" class="<%= 'active' if @genre == 'all' %>">ALL</a></li>
      					<li><a href="/shop/men" class="<%= 'active' if @genre == 'men' %>">MEN</a></li>
      					<li><a href="/shop/women" class="<%= 'active' if @genre == 'women' %>">WOMEN</a></li>
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#"><b>SORT BY</b></a>
      				<ul class="dropdown-menu">
      					<li><a href="#">RELEVANCE</a></li>
      					<li><a href="#">PRICE</a></li>
      					<li><a href="#">NEW IN</a></li>
      				</ul>
      			</li>
      		</ul>
      
      	</div>
      	<!-- quick-filter section end -->
      	
      	<!-- product-type section start -->
      	<div class="product-type section">
    		<% 
    		if @categories
    		%>
      		<div class="title">
      			<a href="#">PRODUCT TYPE</a>
      		</div>
      		
      		<ul class="dropdown-menu root">
      		<% 
      			@categories.each do |item|
      		%>
      			<li>
      				<a href="?category=<%= item[:cat].id.to_s %>" class="<%='active' if @category == item[:cat].id.to_s %>">
      					<%=item[:cat].name.upcase %>
      				<%
      				if @genre == "all"
      				%> 
      					(<%=item[:cat].genre.upcase %>)
      				<%
      				end
      				%>
      				</a>
      				<ul class="dropdown-menu">
      			<% 
      				if item[:subcats]
      					item[:subcats].each do |subcat|
      			%>
      					<li><a href="?category=<%= subcat.id %>" class="<%='active' if @category == subcat.id.to_s %>"><%= subcat.name.upcase %></a></li>
      			<%
      				end
      			end%>
      				</ul>
      			</li>
      		<%
      			end	
      		%>
      		</ul>
    		<%	
    		end
    		%>
    		</div>
      			<!--<li class="dropdown-submenu">
      				<a href="#">CASUAL</a>
      				<ul class="dropdown-menu">
      					<li><a href="#">CASUAL JACKETS</a></li>
      					<li><a href="#">CASUAL TROUSERS</a></li>
      				</ul>
      			</li>-->
      		
      	<!-- product-type section end -->
      	
      	<!-- collections section start -->
      	<div class="collections section">
      		
    		<% 
    		if @collections
    		%>
      		<div class="title">
      			<a href="#">COLLECTIONS</a>
      		</div>
      		
      		<ul class="dropdown-menu root">
      		<% 
      			@collections.each do |item|
      		%>
      			<li>
      				<a href="?category=<%= item[:col].id %>" class="<%='active' if @category == item[:col].id.to_s %>"><%=item[:col].name.upcase %></a>
      				<ul class="dropdown-menu">
      			<% 
      				if item[:subcols]
      					item[:subcols].each do |subcol|
      			%>
      					<li><a href="?category=<%= subcol.id %>" class="<%='active' if @category == subcol.id.to_s %>"><%= subcol.name.upcase %></a></li>
      			<%
      				end
      			end%>
      				</ul>
      			</li>
      		<%
      			end	
      		%>
      		</ul>
    		<%	
    		end
    		%>
      
      	</div>
      	<!-- collections section end -->
      	
      	<!-- price section start -->
      	<!--<div class="price section">
      		
      		<div class="title">
      			<a href="#">PRICE</a>
      		</div>
      		
      		<ul class="dropdown-menu root">
      			<li class="dropdown-submenu">
      				<a href="#">LEVIS</a>
      				<ul class="dropdown-menu">
      					<li><a href="#">LEVI'S COMMUTER</a></li>
      					<li><a href="#">FRIENDS OF MOCA</a></li>
      					<li><a href="#">LEVI'S X FILSON</a></li>
      					<li><a href="#">LINE 8</a></li>
      					<li><a href="#">MADE IN USA</a></li>
      					<li><a href="#">WATER LESS</a></li>
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#">EDUN</a>
      				<ul class="dropdown-menu">
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#">INDUSTRY OF ALL NATIONS</a>
      				<ul class="dropdown-menu">
      				</ul>
      			</li>
      		</ul>
      
      	</div>-->
      	<!-- price section end -->
      	
      	<!-- color section start -->
      	<!--<div class="color section">
      		
      		<div class="title">
      			<a href="#">COLOR</a>
      		</div>
      		
      		<ul class="dropdown-menu root">
      			<li class="dropdown-submenu">
      				<a href="#">LEVIS</a>
      				<ul class="dropdown-menu">
      					<li><a href="#">LEVI'S COMMUTER</a></li>
      					<li><a href="#">FRIENDS OF MOCA</a></li>
      					<li><a href="#">LEVI'S X FILSON</a></li>
      					<li><a href="#">LINE 8</a></li>
      					<li><a href="#">MADE IN USA</a></li>
      					<li><a href="#">WATER LESS</a></li>
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#">EDUN</a>
      				<ul class="dropdown-menu">
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#">INDUSTRY OF ALL NATIONS</a>
      				<ul class="dropdown-menu">
      				</ul>
      			</li>
      		</ul>
      
      	</div>-->
      	<!-- color section end -->
      	
      	<!-- size section start -->
      	<!--<div class="size section">
      		
      		<div class="title">
      			<a href="#">SIZE</a>
      		</div>
      		
      		<ul class="dropdown-menu root">
      			<li class="dropdown-submenu">
      				<a href="#">LEVIS</a>
      				<ul class="dropdown-menu">
      					<li><a href="#">LEVI'S COMMUTER</a></li>
      					<li><a href="#">FRIENDS OF MOCA</a></li>
      					<li><a href="#">LEVI'S X FILSON</a></li>
      					<li><a href="#">LINE 8</a></li>
      					<li><a href="#">MADE IN USA</a></li>
      					<li><a href="#">WATER LESS</a></li>
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#">EDUN</a>
      				<ul class="dropdown-menu">
      				</ul>
      			</li>
      			<li class="dropdown-submenu">
      				<a href="#">INDUSTRY OF ALL NATIONS</a>
      				<ul class="dropdown-menu">
      				</ul>
      			</li>
      		</ul>
      
      	</div>-->
      	<!-- size section end -->
      	
      	
      </div>
      <!-- filter hierarchy wrapper end -->
      <div></div>  
    </div>
    <!--filter end -->


		<div class="items-wrapper">
		<%
		if @products
			i = 0
			row_num = 1
			item_html = ''
			desc_html = ''
			thumb_html = ''
			main_image_path = ''
			@products.each do |p|
				i = i+1
				images = p.images[0..-1]  || []
				main_image_path = ''

				images.each do |img|
			       	html = ''
		          	html += '		<div class="item-thumb-wrapper">'
		    		html += '			<img class="lazy" src="/assets/shop/items/item1.jpg" data-original="' + img.thumb_path + '" alt="' + img.id.to_s + '" data-main="' + img.image_path + '">'
		    		html += '		</div>'
		    		thumb_html = html + thumb_html
		    		main_image_path = img.image_path
	      		end
	      
		  		item_html += '<div class="quarter-column condenseds">'
  	      		item_html += '	<div class="shop-item-wrapper" data-target="description' + p.id.to_s + '">'
	  	      	item_html += '		<div class="triangle"></div>'
	  	      	item_html += '   	<a href="#">'
	  	      	if row_num == 1
	  	      		item_html += '	      <img class="lazy" alt="" src="' + images.last.image_path + '">'
	  	      	else
	  	      		item_html += '	      <img class="lazy" src="/assets/shop/items/item1.jpg" alt="" data-original="' + images.last.image_path + '">'
	  	      	end
  	      
  	      		item_html += '				<div>'			
  	      		item_html += '		      <h5>' + p.brand.name.upcase + '</h5>'
  	      		item_html += '		      <h4>' + p.name.upcase + '</h4>'
  	      		item_html += '		      <h3>US$ ' + p.price.to_s + '</h3>'
  	      		item_html += '				</div>'	
  	      		item_html += '	    </a>'
  	      		item_html += '	  </div>' 
  	      		item_html += '</div>'
	      
	      
	      		desc_html += '<div class="item-description description' + p.id.to_s + '">'
	      		desc_html += '	<div class="close-icon">'
	      		desc_html += '		<a href="#"><img src="/assets/icons/close.png"></a>'
	      		desc_html += '	</div>'
		    	desc_html += '	<div class="image-wrapper">'
		    	desc_html += '		<img class="lazy" src="/assets/shop/items/item1.jpg" alt="" data-original="' + images.last.image_path + '">'
			    desc_html += '	</div>'
			    
			    desc_html += '	<div class="thumbs-wrapper">'
			    
			   	desc_html += thumb_html
			    thumb_html = ''
			 
			    desc_html += '	</div>'
			    desc_html += '	<div class="description-wrapper">'
			    desc_html += '		<h3>' + p.brand.name + '</h3>'
			    desc_html += '		<h4>' + p.name + '</h4>'
			    desc_html += '		<p>' + p.description + '</p>'
			    desc_html += '		<div class="price">US$' + p.price.to_s + '</div>'
			    		
			    desc_html += '		<a href= "http://us.levi.com/product/index.jsp?productId=' + p.prod_id.to_s + '" class="purchase-button" target="_blank" onclick="javascript:pageview(\'' + p.brand.id.to_s + '\', \'http://us.levi.com/product/index.jsp?productId=' + p.prod_id.to_s + '\');">PURCHASE from levi.com</a>'
			    desc_html += '		<div class="other-buttons">'
			    desc_html += '			<a href="javascript:add_wishlist(\'' + p.id.to_s + '\');">ADD TO WISH LIST</a>'
			    desc_html += '			<a href="#" class="last">SHARE THIS ITEM</a>'
			    desc_html += '		</div>'
			    		
			    desc_html += '	</div>'
	    	
	      		desc_html += ' </div>'
	      
	      		if i == 3
	      			row_num += 1
					i = 0
		%>
					<div class="items-row clearfix">
						<%= raw item_html %>
						<%= raw desc_html %>
					</div>	
		<%
					item_html = ''
					desc_html = ''			
				end
			end
			
			if i != 3
		%>
			<%= raw item_html %>
			<%= raw desc_html %>
		<%
			end
		%>
		<%
		end
		%>
  	</div>
  
  
<% end %>

<div style="clear: both;"></div>


