<h1>Edit initiative</h1>
<form class="form-horizontal" enctype="multipart/form-data" action="/admin/brands/<%= @brand.id %>/initiatives/update/<%= @initiative.id %>" method="post">
	<% unless @initiative.errors.blank? %>
	  <div class="alert">
	    <button class="close" data-dismiss="alert">×</button>
	    <strong>Warning!</strong> The initiative could not be saved because of the following errors:
	    <ul>
	      <% @initiative.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<input type="hidden" class="input-xlarge" name="initiative[id]" value="<%= @initiative.id %>">
	<fieldset>
	  <div class="control-group">
	    <label class="control-label" for="initiative[name]">Name</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" name="initiative[name]" value="<%= @initiative.name %>">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="name">Slug</label>
	    <div class="controls">
	      <input id="initiative-slug" type="text" class="input-xlarge" name="initiative[slug]" value="<%= @initiative.slug %>">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="initiative[about]">About</label>
	    <div class="controls">
	      <textarea name="initiative[about]" class="input-xlarge" rows="6"><%= @initiative.about %></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="initiative[thumbnail]">Thumbnail [307x240]</label>
	    <div class="controls">
	      <input type="file" class="input-xlarge" name="initiative[thumbnail]">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="initiative[splash]">Splash [633x350]</label>
	    <div class="controls">
	      <input type="file" class="input-xlarge" name="initiative[splash]">
	    </div>
	  </div>
	</fieldset>
	<div class="form-actions">
	  <button type="submit" class="btn btn-primary">Save changes</button>
	  <a href="/admin/brands/<%= @brand.id %>/initiatives" class="btn">Cancel</a>
	</div>

</form>
