<div class="row">
  <div class="span9">
    <h1>Initiatives</h1>
  </div>
  <div class="span3 link-new">
    <a href="/admin/brands/<%= @brand.id %>/initiatives/new" class="btn btn-primary">New Initiative</a>
  </div>
</div>

<% if @initiatives %>
	<table class="index table table-striped">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th class="actions"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @initiatives.each do |initiative| %>
	      <tr>
	        <td><a href="/admin/brands/<%= @brand.id %>/initiatives/<%= initiative.id %>"><%= initiative.name%></a></td>
	        <td>
	          <a class="btn btn-mini" target="_blank" href="/discover/by-brand/<%= @brand.slug %>/<%= initiative.slug %>">view</a>
	          <a class="btn btn-mini" href="/admin/brands/<%= @brand.id %>/initiatives/<%= initiative.id %>/articles">articles</a>
	          <a class="btn btn-mini" href="/admin/brands/<%= @brand.id %>/initiatives/<%= initiative.id %>">edit</a>
	          <form action="/admin/brands/<%= @brand.id %>/initiatives/delete/<%= initiative.id %>"  method="post" class="form-inline" onsubmit="return confirm('Are you sure you wish to delete this initiative?');">
	            <input type="hidden" name="_method" value="delete">
	            <input class="btn btn-mini btn-danger" type="submit" value="delete">
	          </form>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
	<p>No intitiative now!</p>
<% end %>
